.form_wrap{

    .radio-wrap{

        color: #666;
        padding: 0 1.5em;
        display: flex;
        justify-content: center;
        position: relative;

    }

    .radio-text{

        left: 1.5em;
        position: absolute;

    }

}