body {
	color: var(--wp--preset--color--textblack);
}

.ph-1_5em {
	padding-left: 1.5em !important;
	padding-right: 1.5em !important;
}

.sp-ph-1em {
	@include mq() {
		padding-left: 1em !important;
		padding-right: 1em !important;
	}
}

br {
	.pc-hide {
		display: none;
		@include mq() {
			display: inline;
		}
	}
}

.pc-hide {
	@media screen and (min-width: 768px) {
		display: none !important;
	}
}

.sp-hide {
	@include mq() {
		display: none !important;
	}
}